
<div class="container card-show">
    
    <div>
        <%= cl_image_tag @cocktail.picture.key, class: "card-show-image" %>
    </div>
    
    <h2 class="card-show-title"><%= @cocktail.name %></h2>

    <% @cocktail.doses.each do |dose| %>
        <div class="container card-show-dose">
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <%= icon('fa', 'minus-circle') %>
            <% end %>
        </div>
    <% end %>

    <%# <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-red" %>

    <%= render 'doses/new' %>
    
</div>